.navbar{
  display:flex;
  gap:1rem;
  padding: 5 2.5 ;
  border-bottom: 1px solid ;
  align-items: center;
  background-color: #FBFEF9;
  color: #030027;
  justify-content: center;
}
nav a{
  text-decoration: none;
  font-weight: 800px;
}

h1{
  display: flex;
  justify-content: center;
  color: #B287A3;
}

nav button{
  padding: .4rem .8rem;
  margin-left: auto;
  border-radius: 5px;
  border: .5 solid  #B287A3;
  background-color:  #062002;
  color:#FBFEF9;
}

.allBlogsDiv{
  border-radius: 10px;
  margin-top: 10px;
  background-color: #FBFEF9;
  padding: 30px;
}

.allBlogsDiv h1{
  margin-bottom: 16px;
  font-size: 28px;
}

.allBlogsDiv p{
  margin: 8px 0;
}

.allBlogsDiv a{
  text-decoration: none;
  color:#030027;
  font-weight: 700px;
}
.individual-blog{
  margin-top: 16px;
  padding: 16px;
  background-color: #FBFEF9;
  border-radius:10px ;

}
.individual-blog p{
  font-size: 20px;
}
/* prussian blue : #030027
porcelain: #FBFEF9
dusty mauve: #B287A3 */
/* evergreen: #062002 */